body {
    text-align: center;
    font-family: Arial;
    padding: 40px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    background: royalblue;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
}

.btn:hover {
    background: darkblue;
}
